---
// src/components/ui/Logo.astro
---
<a href="/" class="logo">
  <img src="/images/logo-big-owl.svg" alt="Big Owl Logo" />
</a>

<style>
  .logo img {
    height: 40px; /* Ajuste a altura conforme necessário */
    width: auto;
  }
</style>